
div .a {
    height: 88px;
    width: 360px;
    left: 0px;
    top: 0px;
    border-radius: 0px;


}

div .b {
    border: 50px 0px 50px 0px;
}

h1 h2 h3 {
    border: 20px 0px 20px 0px;
}